a:link{
	color: white;
}
.link{
	color: black;
}

 li{
	list-style: none;
 }

 
/* carousel */
#coru .carousel-control-next, .carousel-control-prev {
	width: auto;
	top: 50%;
	bottom: initial;
}
#coru .carousel-control-prev {
	left: -11px;
    top:20rem;
    
}
#coru .carousel-control-next {
	right: -17px;
    top:15rem;
    
}
#coru .carousel-indicators {
	 bottom: 100px; 
    position:absolute;
    border-radius: 100%;
    left: 100px;
    
}

#coru .carousel-caption{
    position: absolute; bottom: 10px; right: 20%;
}

/* 450px tak ke liye */
@media (max-width: 450px) {
    #coru img  {
        padding: 5px 11px 18px 31px;
        margin-left: -7px;
    }
   
    #coru .carousel-indicators {
     display: none;
    }
    #coru .carousel-caption{
        font-size: 13px;
        right: 57px;
    }
    #coru .carousel-control-prev {
        display: none;
    }
    #coru .carousel-control-next {
       display: none; 
    }
    
}

/* 451 px ke baad ke liye */
@media (min-width: 451px) and (max-width:768px) {
    #coru img  {
        padding: 5px 18px 18px 23px;
    
        margin-right: 30px;
    }
   
  #coru .carousel-indicators {
        /* bottom: 10px; */
      /* top: 0px; */
      bottom: 0px;
       
        border-radius: 100%;
        left: -7px;
    }
  #coru .carousel-control-prev {
        left: -18px;
        top: 10rem;
        
    }
  #coru .carousel-control-next {
        right: -22px;
        top:10rem;
        
    }
}


@media  (min-width:768px) and (max-width:992px) {
   
   
    #coru .carousel-indicators {
        /* bottom: 10px; */
      /* top: 0px; */
      bottom: 0px;
       
        border-radius: 100%;
        left: -7px;
    }
    #coru .carousel-control-prev {
        left: -22px;
        top: 13rem;
        
    }
    #coru .carousel-control-next {
        right: -22px;
        top:12rem;
        
    }
}

@media  (min-width:993px) {
  
    #coru img  {
        padding: 0;
    
        margin-right: 0;
    }
   
     #coru .carousel-indicators {
        /* bottom: 10px; */
      /* top: 0px; */
      bottom: 0px;
       
        border-radius: 100%;
        left: -7px;
    }
      #coru .carousel-control-prev {
        left: -22px;
        top: 13rem;
        
    }
      #coru .carousel-control-next {
        right: -22px;
        top:12rem;
        
    }
}

@media (min-width:992px)
{
   #logo .col-lg-3{
        width:20%
    }
}

@media (min-width:992px)
{

  
   #usedcars .col-lg-3{
       max-width: 25%

    }

    #usedcars .col-xl-2{
        max-width: 20%

    }
}

/* for card hover  */

#c1 {
    max-width:  200px;
    height: 200px;
    
    /* border-radius: 20px; */
    transition: transform 0.3s ease;
    
  }
  
  #c1:hover,#brand:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    
  }
  
  #c1 img {
    max-width: 100%;
    /* border-radius: 20px; */
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
    height: 90%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;

  }
 
  #c1:hover,#brand:hover  {
    transform: scale(1.1);
  }
  #brand img{
    border-top-left-radius:20px ;
    border-top-right-radius:20px ;
  }
#brand{
    border-radius: 20px;
    transition: transform 0.3s ease;
    color: black;
}


.NewUcExCard .bottom_container {
  display: flex;
  flex-direction: column;
  padding: 16px 20px 0
}

.NewUcExCard .title_heart_section {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  width: 100%
}

.NewUcExCard .title_heart_section .title {
  color: #24272c;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 98%
}

.NewUcExCard .title_heart_section .titlebox {
  width: calc(100% - 30px)
}

.NewUcExCard .title_heart_section .dotsDetails {
  color: rgba(36, 39, 44, .7);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  white-space: nowrap
}

.NewUcExCard .title_heart_section .dotsDetails span {
  color: #24272c
}

.NewUcExCard .Price {
  align-items: center;
  display: flex;
  white-space: nowrap
}

.NewUcExCard .Price p {
  color: #24272c;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  padding-top: 10px
}

.NewUcExCard .Price .assuredTag {
  height: 20px;
  margin-left: 4px;
  padding-top: 3px;
  width: auto
}

.NewUcExCard .Price .assuredTag img {
  height: auto;
  width: auto
}

.NewUcExCard .discounts {
  align-items: center;
  display: block;
  margin-top: 8px
}

.NewUcExCard .discounts .Dprice {
  color: #4d4f53;
  display: inline-block;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  margin-left: 4px;
  margin-right: 0;
  text-decoration-line: line-through
}

.NewUcExCard .discounts .SavingsGradientBg {
  color: #32bea6;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  line-height: normal;
  margin-left: 1px
}

.NewUcExCard .bottomContent {
  align-items: flex-start;
  display: flex;
  height: 26px;
  justify-content: space-between;
  padding-top: 8px
}

.NewUcExCard .bottomContent .emitext {
  color: rgba(36, 39, 44, .7);
  font-size: 11.5px;
  font-weight: 400;
  line-height: 18px;
  min-height: 18px;
  position: relative;
  text-decoration-line: underline;
  top: 2px;
  white-space: nowrap;
  width: 178px
}

.NewUcExCard .bottomContent .checkBoxComp .container-checkbox {
  margin: 0;
  top: 0
}

.NewUcExCard .sellerdetail .lead-btn-holder {
  display: inline-block;
  width: auto
}

.NewUcExCard .sellerdetail button {
  align-items: center;
  background: 0 0;
  border: none;
  color: #f75d34;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  height: 21px;
  line-height: normal;
  margin-top: 10px;
  padding: 0
}

.NewUcExCard .sellerdetail button img {
  float: right;
  height: auto;
  margin-left: 3px;
  position: relative;
  top: -1px;
  width: auto
}

.shortlist.NewUcrShortList {
  background: 0 0;
  height: auto;
  padding: 0
}

.shortlist.NewUcrShortList img {
  top: -4px
}

.NewUcExCard .distanceText {
  border-top: 1px dashed rgba(36, 39, 44, .15);
  margin-top: 8px;
  padding-top: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: absolute;
  bottom: 11px;
  left: 20px;
  width: calc(100% - 40px);
  color: #24272c;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
}

#shortlistHeartIcon .heart-icon {
  transition: all 0.3s ease;
  cursor: pointer;
}

#shortlistHeartIcon .heart-icon:hover {
  fill: red;
}

.heart-icon {
  transition: all 0.3s ease;
}

.heart-icon:hover {
  fill: red;
  /* This will change the color of the icon to red */
}

.outer {
  background: #fff;
  border: 1px solid rgba(36, 39, 44, .1);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, .05);
  border-radius: 16px;
  padding-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #000;
  margin-bottom: 16px;
  margin-left: 37px;
}